.building-deco
  |
  |
  img.img-2d3d.img-left(
    src=img_assets+img_artwork[29]
    data-2d=img_assets+img_artwork[28]
    data-3d=img_assets+img_artwork[29]
    alt='building'
  )/
  |
  |
  img.img-2d3d.img-center(
    src=img_assets+img_artwork[31]
    data-2d=img_assets+img_artwork[30]
    data-3d=img_assets+img_artwork[31]
    alt='building'
  )/
  |
  |
  img.img-2d3d.img-left(
    src=img_assets+img_artwork[29]
    data-2d=img_assets+img_artwork[28]
    data-3d=img_assets+img_artwork[29]
    alt='building'
  )/
